<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="" id="usernameinp" placeholder="username">
    <br>
    <input type="text" name="" id="password">
    <br>
    <button id="register">register</button>
    

    
</body>
</html>